*{
    box-sizing: border-box;
}

.reszponzivtablazat{
    overflow-x: scroll;
}

header{
    grid-area: h;

}

nav{
    grid-area: n;
}

article{
    grid-area: a;
}

aside{
    grid-area: as;
}

footer{
    grid-area: f;
}

article,aside,header,nav,footer{
    border: 1px solid grey;
    padding: 10px;
}

main{   
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas:
        "h h h"
        "n a as"
        "f f f" ;
}

@media screen and (max-width: 600px) {
    main{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "a"
            "as"
            "f";
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}