table{
    border-collapse: collapse;
    margin: auto;
    width: auto;
    height: auto;
    background-color: lightgrey;
}

li{
    margin: auto;
    list-style: none;
    text-align: center;
}

img{
    width: 40px;
    height: 40px;
}

td{
    width: 60px;
    height: 60px;
    text-align: center;
}

th {
    background-color: grey;
    color: white;
    width: 20px;

}

nav ul{
    padding: 0px;
}

a:hover{
    color: red;
}

tbody{
    text-align: center;
}

tbody tr:nth-child(odd) td:nth-child(even){
    background-color: white;
}
tbody tr:nth-child(even) td:nth-child(odd){
    background-color: white;
}
